.header-title {
  color: var(--contrast-color);
  font-size: 28px;
  line-height: 1.7;
  text-align: left;
  padding-left: 8px;
}

.header-filters {
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.header-filters select {
  width: 200px;
}
