.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  background: var(--body-bg-color);
}
.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3px;
  margin-top: 10px;
}
.modal-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.description-input {
  width: 80%;
  max-width: 122px;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
  resize: vertical;
}

input[type="number"] {
  height: 20px;
  max-width: 110px;
}
