#root {
  margin: 0 auto;
  text-align: center;
  background-color: var(--body-bg-color);
  font-family: var(--font-family);
}
.body-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: var(--navbar-height);
}
