:root {
  --font-family: Inter, system-ui, sans-serif;
  --navbar-height: 48px;
  --body-bg-color: #161920;
  --body-color: #ddd;
  --contrast-color: #fff;
  --muted-bg-color: #213145;
  --muted-color: #999;
  --border-color: hsl(216deg 25% 30%);
  --border-color-2: hsl(216deg 25% 16%);
  --link-color: #00aff4;
  --link-color-hover: #0095ff;
  --bg-green: #030;
  --bg-blue: #00174d;
  --state-text-color: #111;
  --tooltip-bg: rgb(255 255 255 / 80%);
  --tooltip-green: #577c27;
  color-scheme: dark;
  scrollbar-color: var(--border-color) var(--body-bg-color);
  scroll-padding-top: calc(var(--navbar-height) + 15px);
  tab-size: 4;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}
a {
  text-decoration: none;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  min-height: 34px;
  padding: 0 12px;
  line-height: 22px;
  font-size: 13px;
  font-weight: 700;
  color: var(--link-color-hover);
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #212831;
  border: 1px solid var(--link-color-hover);
  border-radius: 6px;
  user-select: none;
  appearance: none;
}

.btn {
  &.btn-sm {
    min-height: 26px;
    padding: 0 10px;
  }
}
.btn {
  &.btn-outline:not(:hover, :active) {
    color: var(--link-color);
    background: transparent;
  }
}
.d-flex {
  display: flex;
  flex-direction: column;
}
.d-flex-column {
  display: flex;
  flex-direction: column;
}
.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

.flex-grow {
  flex-grow: 1;
  align-self: center;
}

.input,
input[type="text"],
input[type="search"],
input[type="date"],
input[type="number"],
select,
textarea {
  height: 34px;
  line-height: 20px;
  padding: 7px 8px;
  font-size: 14px;
  color: var(--body-color);
  accent-color: var(--link-color);
  vertical-align: middle;
  background-color: var(--body-bg-color);
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  outline: none;
  transition: box-shadow 0.2s;
}

.text-left {
  text-align: left;
}
table {
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

@media (min-width: 768px) {
  .d-flex {
    flex-direction: row;
  }
  .container {
    width: 960px;
  }
}
