.pre-table-title {
  padding: 15px 30px;
  font-size: 20px;
  line-height: 1;
  color: var(--link-color);
  border-radius: 6px 6px 0 0;
  background: linear-gradient(135deg, #213145, #364766);
}
.table-products {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-wrap: anywhere;
}
.table-products th:first-child,
.table-products td:first-child {
  padding-left: 8px;
}

.table-products th:last-child,
.table-products td:last-child {
  width: 30px;
  text-align: center;
}
.table-products th {
  height: 30px;
  background-color: var(--muted-bg-color);
  color: #f6f3f7;
  border: 0;
  padding: 5px 0;
}
.table-products td {
  padding: 5px 0;
}
td.add {
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 140%;
}
td.add:hover {
  background-color: var(--link-color-hover);
  color: #fff;
}

.budget-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.pre-table-title > span {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .table-products th:nth-child(2),
  .table-products td:nth-child(2) {
    width: 420px;
  }
  .table-products th:first-child,
  .table-products td:first-child {
    width: 150px;
  }

  .pre-table-title > span:first-child {
    margin-bottom: 0;
  }
  .budget-summary {
    flex-direction: row;
  }
}
