.pre-table-title {
  padding: 15px 30px;
  font-size: 20px;
  line-height: 1;
  color: var(--link-color);
  border-radius: 6px 6px 0 0;
  background: linear-gradient(135deg, #213145, #364766);
  gap: 5px;
}

.table-products {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  overflow-wrap: anywhere;
}
.tracker-products th:first-child,
.tracker-products td:first-child {
  padding-left: 8px;
}

.tracker-products th:last-child,
.ttracker-products td:last-child {
  width: 60px;
  text-align: center;
}
.actions {
  display: flex;
  justify-content: flex-end;
}
.tracker-products th {
  height: 30px;
  background-color: var(--muted-bg-color);
  color: #f6f3f7;
  border: 0;
  padding: 5px 0;
}
.tracker-products td {
  padding: 5px 0;
}
.edit {
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 140%;
  padding: 0 5px;
}
.edit:hover {
  background-color: var(--link-color-hover);
  color: #fff;
}

.delete {
  cursor: pointer;
  font-weight: 700;
  text-align: center;
  font-size: 140%;
  padding: 0 5px;
}
.delete:hover {
  background-color: red;
  color: #fff;
}

.pre-table-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

@media (min-width: 768px) {
  .tracker-products th:nth-child(2),
  .tracker-products td:nth-child(2) {
    width: 420px;
  }
  .tracker-products th:first-child,
  .tracker-products td:first-child {
    width: 150px;
  }

  .pre-table-title > span:first-child {
    margin-bottom: 0;
  }
  .pre-table-summary {
    flex-direction: row;
  }
}
