.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
  padding: 0 1rem;
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
}

.header-navbar {
  position: absolute;
  top: var(--navbar-height);
  left: 0;
  width: 100%;
  background-color: #000;
  flex-direction: column;
  align-items: center;
  display: none;
  justify-content: space-evenly;
}

.header-navbar.open {
  display: flex;
}

.header-navbar > a {
  color: #fff;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

.header-navbar > a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .header-navbar {
    display: flex !important;
    position: static;
    flex-direction: row;
    height: var(--navbar-height);
  }

  .header-navbar > a {
    padding: 0 10px;
    width: auto;
  }
}
